body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #362c2c, transparent);
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 315px;
  flex-direction: column;
}

.display {
  background-color: gray;
  text-align: right;
  font-size: 50px;
  width: 301px;
  padding: 7px 7px 14px 7px;
  height: 52px;
  color: #fff;
}

.keys {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #e1e0e0;
  flex: 0 1 25%;
  height: 60px;
  font-size: 26px;
  border: 1px solid #a9a9a9;
}

.color-btn {
  background-color: #fd8e4f;
}

.big-btn {
  flex: 0 1 50%;
}
